@use "../custom" as *;
@use "../components/mixins" as *;

.btn-rounded {
  @include media-breakpoint-down(sm) {
    display: none;
  }
  position: relative;
  padding: 0.7375rem 3rem 0.7375rem 1rem;
  font-weight: 700;
  margin-right: -3rem;
  border: 0.1rem solid rgba($color: $white, $alpha: 0.6);
  background-color: $white;

  span {
    position: absolute;
    background-color: $primary;
    width: 2.2rem;
    height: 2.2rem;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    border-radius: 50%;

    i {
      color: $white;
      font-size: 1rem;
      line-height: 2.2rem;
    }
  }
  &:hover {
    @include gradient;
    color: white;
    transition-duration: 0.5s;
  }
}
